<!DOCTYPE html>
<html lang="en">
  <%- include('./reusedjs/header.ejs') %>
<body>
  <%- include('./reusedjs/navbar.ejs') %>
  <form action="/sign" method="post">
    <input type="text" name="username" id="username" placeholder="UserName"><br>
    <input type="password" name="password" id="password" placeholder="Password"><br>
    <input type="submit" value="Submit">
  </form>
</body>
</html>